<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= @car.buyer %> has just purchased <%= @car.description %> for Ficus!
  </body>
</html>

