<h6>Baby Van Cleef's Hot Wheels Wish List</h6>
<% @cars.each do |car| %>
<table>
<% unless car.purchased == true %>
<td><%= car.card_id%>/50.....</td>
<td><%= car.description %></td>
<% end %>
<% end %>

